save_template = %{
    <html>
    <head>
    <p>Letter bank</p>
    <%= @letter_bank %>
    <p>Code so far</p>
    <%= @blank_code %>
    <p>Secret code</p>
    <%= @expand_code %>
    <%= @code %>
    <p>Number of guesses</p>
    <%= @number_of_guesses %>

    </head>
    </html>
}